# Database Config
POSTGRES_DB=campaign
POSTGRES_USER=campaign_user
POSTGRES_PASSWORD=campaign_pass
DB_HOST=db
DB_PORT=5432

# pgAdmin Config
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin123

# Simulation Settings
N_CUSTOMERS=500
RANDOM_SEED=42
N_ROUNDS=5000
ALPHA=0.1